{% extends 'infotemp.html' %}
{% block content %}


<div class="container mt-5">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 400px;">
    <p>{{ product.description }}</p>

    <h3>Available Sizes:</h3>
    <ul>
        {% for stock in product.productsizestock_set.all %}
        <li>Size: {{ stock.size.size }} - Price: ₱{{ stock.price }} - Stock: {{ stock.stock_level }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
