{% extends 'base.html' %}
{% block title %} Thank You {% endblock %}
{% block content %}

    <div class="container mt-5">
        <div >
            <h1 class="mb-4">Thank You for Your Order!</h1>
            <p>Your order has been placed successfully.</p>

            <!--<h3>Order Summary</h3>
            <ul>
                <li>Name: {{ request.session.fname }} {{ request.session.lname }}</li>
                <li>Phone Number: {{ request.session.phonenum }}</li>
                <li>Email: {{ request.session.email }}</li>
                <li>Delivery Address: {{ request.session.add1 }}, {{ request.session.city }}, {{ request.session.region }} {{ request.session.zipc }}</li>
            </ul>-->
        </div>
    </div>
{% endblock %}
